main {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	font-family: Montserrat, sans-serif;
	width: 100%;
	min-height: 517px;
	padding-top: 1.7em;
	padding-bottom: 4.5em;

	background: rgba(0, 0, 0, 0.64);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: cover;
	position: relative;
	color: white;
}

main > * {
	z-index: 1;
}

main > div {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.headline {
	width: 574px;
	transform: scale(0.51);
}

.headline-paragraph {
	line-height: 58px;
}

.headline-title,
.headline-strong {
	font-size: 80px;
}

.headline-strong {
	font-weight: 900;
}

.headline-subtitle {
	font-size: 35px;
	line-height: 31px;
	margin-bottom: 10px;
}

.headline-price,
.headline-price-period {
	font-weight: 700;
}

.headline-price-period {
	font-size: 18px;
}

.student-info {
	display: none;
}

@media only screen and (min-width: 600px) {
	.button {
		width: 397px;
		height: 92px;
		font-size: 26px;
	}
}

.button-warning-message {
	line-height: 20px;
	text-align: center;
	transform: scale(0.81);
}

.color-overlay-effect {
	display: block;
	content: "";
	background-color: rgba(0, 0, 0, 0.64);
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

.logo {
	width: 59px;
	height: 42px;
	cursor: pointer;
}

@media only screen and (min-width: 600px) {
	main {
		background-color: #e89513;
		background-repeat: no-repeat;
		background-position: left center;
		background-size: cover;
		height: 651px;
		padding-bottom: 0em;
	}

	main > div {
		width: 1350px;
		margin: 0 auto;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		height: 100%;
		padding: 0 3em 3em;
	}

	.headline {
		transform: none;
	}

	.headline-subtitle {
		font-size: 28px;
	}

	.headline-pricing {
		display: none;
	}

	.student-info {
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 2em;
		right: 30%;
		padding: 1.2em;
		font-size: 12px;
		font-weight: 600;
		text-shadow: #000 20px;
	}

	.student-info-name {
		font-family: Montserrat;
		font-weight: 900;
	}

	.student-info-description {
		line-height: 16px;
		font-size: 12px;
		font-weight: 600;
	}
}
